* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #fcfcfc;
 
  line-height: 1rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Main Styles
-------------------------------------------------- */


main {
  font-family: 'Maven Pro', sans-serif;
}

#register-landing h1,
nav h1 {
  font-size: 1.5em;
  /*color: yellow;*/
  margin-bottom: 0;
  font-family: 'Coiny', cursive;
  /*font-weight: 700;*/
}

h4 {
  font-weight: bold;
}

p {
  font-size: 1.4em;  
}

/* /////////////// */
.box {
  width: 100%;
  min-height: inherit;
  padding:0 1rem 1rem;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;


}

.red {
  background-color: pink;
}

.green {
  background-color: lightgreen;
}

.card {
  max-width: 100%;
}

.card p  {
  font-size: 0.9rem;
}

.card-body {
  min-height: 100%;
  padding: 0.9rem;
}

.card-subtitle p {
  text-transform: uppercase;
  font-size: 0.7rem;

}

#categories_list  {
  text-transform: capitalize;
  font-weight: 700;
}

#categories_list li:hover {
  background: #f2f2f2;
  /*border: none;*/
}

#products_list h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

#products_list .add-to-cart {
  font-size: 1em;
  text-transform: uppercase;
}

#products_list input{
  margin-right: 1rem;
}


#register-landing h1 {
  font-size: 4em;
  color: #5cb85c;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
#register-landing h3 {
  /*font-size: 4em;*/
  color: #5cb85c;
  padding: 0.5rem 0 0.8rem;
}
#register-landing h4 {
  /*font-size: 4em;*/
  color: #5cb85c;
  /*padding: 0.5rem 0 0.8rem;*/
  /*text-transform: uppercase;*/
}

#register-landing p {
    font-size: 1rem;
    line-height: 1.2rem;
}

#register-landing form {
  padding:1rem;
  border-radius:0.5rem;
  border: 1px solid #f4f4f4;
}

/*#register-landing form input:focus {
  text-align: center;
}*/
form button {
  width: 100%;
}

#register-landing form p {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 12px;
}

#checkout_form p {
  font-size: 1em;
}

#checkout_form #total_price {
  font-size: 2.5em;
  font-weight: 700;
}
#add_item_form label,
#edit_item_form label {
  margin-top: 0.7rem;
}

#admin_controls a {
  font-size: 0.8em;
  padding: 0.6em 0.7em;

}

#admin_controls a:last-child {
margin-left: 8px;
}

#addItemBtn {
  width: 100%;
}

select option {
}